

.contactUs {
    max-width: 1278px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b3948;
    margin: 150px auto 50px auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 8px #1d2329;
}
.contactUs p {
    font: 600 2rem "Montserrat", sans-serif;
    color: #E8E8E8; 
    padding-right: 2rem ;
    margin-left: 2rem;
    margin-right: 2rem;
}


.contact-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-left: 8rem;
    margin-right: 8rem;
   
}

.contact-right a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font: 500 1rem "Montserrat", sans-serif;
    color: #E8E8E8;
    text-decoration: none;
}

.contact-right a img{
    margin: 1rem;
    width: 3rem;
}

