.portifolio{
    margin: 3rem;    
}

.portifolio h1{
    font: 500 1.2rem "Montserrat", sans-serif;
    color: #F05454;
    margin-left: 1.5rem;
    margin-bottom: .5rem;
}

.portifolio h2{
    font: 600 2rem "Montserrat", sans-serif;
    color: #E8E8E8; 
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}

.services {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;

}

.btn_Services {
    cursor: pointer;
    border: 2px solid #F05454;
    border-radius: 50px;
    text-decoration: none;
    margin: 0.5rem .5rem;
    padding: 9px 20px;
    font: 500 1.1rem "Montserrat", sans-serif;
    color: #E8E8E8;
    transition: all 0.5 ease 0s;
}