*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #222831;
}
.divider {
  height: 1px;
  background: linear-gradient(
    270deg, 
    #2b3948,
    #e8e8e880
    
  );
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5rem 1.5rem;
    
}

a, button {
  color: white;
  font: 500 0.8rem "Montserrat", sans-serif;
  color: #F05454;
}

.image-clickable {
  margin-right: auto;
}
.logo{
  height: 7rem;
  cursor: pointer;
  margin-right: auto;
}

.nav-links{
  list-style: none;
  
}

.nav-links li{
  display: inline-block;
  padding: 0 1.25rem;
}

.nav-links li a {
  text-decoration: none;
  font: 400 1.2rem "Montserrat", sans-serif;
  color: #E8E8E8;
  transition: all 0.5 ease 0s;
}

.nav-links li a:hover {
  color: #F05454;

}

header button {
  cursor: pointer;
  padding: 9px 20px;
  border: 2px solid #F05454;
  border-radius: 50px;
  font: 500 1.125rem "Montserrat", sans-serif;
  color: #E8E8E8;
  transition: all 0.5 ease 0s;
  margin-left: 20px;
  
}
button:hover {
  background: #F05454;
  color: #222831;
}
/* section .backgroud {
  height: auto;
  width: 100rem;
  opacity: 0.5;
  margin-top: -21.5rem;
  position: fixed;
  z-index: -1;
  
} */

.profileImg{
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-left: -4.5rem;
    
}

.profileImg img {  
  height: auto;
  width: 15rem;
  shape-outside: circle(50%);
  clip-path: circle(7rem at 8rem 7rem); 
  justify-content: center;
  align-items: center;
 
}
.profileImg .fundoCinza {
    height: 20rem;
    width: 20rem;
    shape-outside: circle(50%);
    clip-path: circle(8rem at 11rem 10rem);
    background-color: #222831;
    margin: -9rem -17rem 2rem 2rem;

}
.profileImg .fundoRed {
    height: 20rem;
    width: 20rem;
    shape-outside: circle(50%);
    clip-path: circle(8.5rem at 11rem 10rem);
    background-color: #E8E8E8;
    margin: -9rem -22rem 2rem 2rem;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title h1 {
  font: italic 400 6rem "Great Vibes", sans-serif;
  color: #F05454;
  margin-top: -9rem;
  
}
.title h2 {  
  align-items: center;
  font: italic 300 1.2rem "Montserrat", sans-serif;
  color: #E8E8E8;
  margin-bottom: 5rem;
}



