

.imagensGestantes {
    background-color: #222831;
    display: flex;
    flex-wrap: wrap;
    margin-left: 4rem;
    /* margin-right: 4rem; */
}
.imagensGestantes img {
    max-width: 250px;
    margin: 0.5rem;
    border-radius: 10px;
}

.visible{
    visibility: visible;
}

.hidden {
    display: none;
}